    body {
        margin: 0;
        padding: 0;
        font-family: 'Formula1-Regular-1', sans-serif; 
        /*background: black;*/
        overflow-x: hidden;

    }


    #wrapper {
        margin-left: auto;
        margin-right: auto;
        max-width: 1519px; /*960*/
    }

    #wrapper-bar {
        max-width: 1519px; /* Set maximum width */
        margin: 0 auto; /* Center the content horizontally */
        display: flex;
        align-items: center; 
        padding-left: 423px
    }

    .custom-red-bg {
        background-color: rgb(255, 0, 0); /* Red color using RGB values */
    }

    .container {
        max-width: none; 
        padding: 0 20px; 
    }

    /* TOP BAR STUFF */
    .top-bar {
        height: 50px;
        background-color: red;
        width: 100%;
        padding-top: 5px;
        font-family: 'Formula1-Regular-1', sans-serif; 
        padding-bottom: 5px;
        display: flex;
        align-items: center;
        justify-content: space-between; 
    }

    .navbar-nav .nav-link {
        color: white !important;
        transition: background-color 0.1s ease;
        height: 50px; /* Fixed height for the navigation links */
        padding-top: 10px;
    }
    
    .navbar-nav .nav-link:hover {
        background-color: black;
    }
    

    .navbar.bg-danger {
        height: 50px !important;
        background-color: red !important;
    }
    
    .navbar-brand img {
        margin-right: -300px !important;
    }
    
    .navbar-brand {
        margin-left: 30px;
    }

    .logo {
        padding-top: 10px; 
        padding-right: 100px;        
        padding-bottom: 5px;
        
    }

    .nav-list {
        list-style: none;
        margin: 0;
        display: flex;
        align-items: center;
        justify-content: center; 
    }

    /* .navbar-nav {
        display: flex;
        justify-content: center; 
        align-items: center;
        height:  100%;
        padding-right: 550px;
    } */

    
    .nav-list a {
        text-decoration: none;
        font-size: 16px;
        color: #fff;
        padding: 20.5px 5px; 
        border-radius: 0px;
        cursor: pointer;
        transition: background-color 0.1s ease; 
        display: inline-block;
    }

    


    /* MAIN ARTICLE STUFF */
    .article-1-title {
        font-family: 'Formula1-Regular-1', sans-serif; 
        font-size: 35px;
        padding-top: 40px;
        padding-left: 110px;
        text-align: left;
        max-width: 900px; /* Limit maximum width */
    }

    .title-date-container {
        max-width: 900px; /* Limit maximum width */
        padding-left: 0px;
    }

    .article-1-date {
        padding-left: 110px;
        font-size: 12px;
    }

    .article-image {
        max-width: 100%; 
        height: auto;
        margin-left: -150px;
        border: none;
    }

  


    #article-1-image img {
        width: 80%; 
        height: 80%;
        object-fit: contain; 
    }

    .article-1-description {
        width: 100%;
        padding-left: 110px;
        padding-right: 100px;
        font-weight: bold;
        text-align: justify;
        display: flex;
    }
    
    .article-1-text {
        max-width: 100%;
        padding-left: 100px;
        padding-right: 100px;
        font-size: 13px;
        text-align: justify;
    }

    /* DESCRIPTION AND TEXT */
    .article-content-container {
        max-width: 1350px; 
        margin-left: 95px; 
        margin-right: auto; 
    }
    



    

    @media (min-width: 768px) and (max-width: 1023px) {
        .article-image {
            max-width: 100%; /* Set maximum width to 55% of its container */
            height: auto; /* Maintain aspect ratio */
            margin-left: -100px; /* Shift the image to the left by 200 pixels */
        }

        .article-content-container {
            max-width: 1350px; /* Set the maximum width for the container */
            margin-left: 45px; /* Center the container horizontally */
            margin-right: -150px; /* Center the container horizontally */
        }

        .title-date-container {
            max-width: 100%; /* Allow the container to take full width on smaller screens */
            padding-left: 0px; /* Adjust padding for smaller screens */
            padding-right: 20px; /* Adjust padding for smaller screens */
            margin-left: -55px;
        }

        
        

        
    }
    
    @media (max-width: 768px) {
        .article-image {
            max-width: 100%; /* Set maximum width to 100% of its container */
            height: auto; /* Maintain aspect ratio */
            margin-left: 0; /* Reset left margin for smaller screens */
        }

        .article-1-text {
            max-width: 100%; /* Set maximum width to 100% of its container */
            margin-left: 0px; /* Reset left margin for smaller screens */
            margin-right: 0; /* Reset right margin for smaller screens */
        }

        .article-1-title{
            padding-right: 0px;
            margin-right: 0px;
            font-size: 24px;
        }

        .article-content-container {
            max-width: 1350px; /* Set the maximum width for the container */
            margin-left: 5px; /* Center the container horizontally */
            margin-right: -20px; /* Center the container horizontally */
        }

        .title-date-container {
            max-width: 700px; /* Limit maximum width */
            padding-right: 0px;
            margin-left: -85px;
        }


        /* NAV BAR STUFF */
        .navbar-collapse {
            padding-top: 50px;
            position: fixed; /* Fixed position to overlap the screen */
            top: 0; /* Position it at the top of the viewport */
            left: 0; /* Position it at the left of the viewport */
            width: 100%; /* Full width */
            height: 31%; /* Full height */
            background-color: red; /* Red background color */
            z-index: 1000; /* Ensure it appears above other content */
            overflow-y: auto; /* Enable scrolling if the menu content exceeds the viewport height */
        }
        
        /* Close button (X) style */
        .navbar-toggler {
            position: absolute; /* Position it relative to the navbar */
            top: 10px; /* Adjust as needed */
            right: 10px; /* Adjust as needed */
            z-index: 1100; /* Ensure it appears above the menu */
        }
        
        /* Hamburger icon style */
        .navbar-toggler-icon {
            background-color: transparent; /* Set the background color to transparent */
            border-color: transparent; /* Set the border color to transparent */
            color: white; /* Set the color of the lines to white */
        }

        .navbar-toggler:focus {
            outline: none; /* Remove the outline when the toggle button is focused */
        }
        
        
    }

    @media (min-width: 1024) {
        
    }

    @font-face {
        font-family: 'Formula1-Regular-1';
        src: url('/Fonts/Formula1-Regular-1.ttf') format('truetype'); 
    }


